/* utilities */
:root{
    --main-color:#EDD060;
    --body-color:#000;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--body-color);
}
a.mainbtn:hover{
    color: #fff;
}
h2{ 
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    text-transform: uppercase; 
}
p{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* header area */
.navbar-nav.menu-bar {
    margin-left: auto;
    grid-gap: 40px;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.navbar-nav.menu-bar li a{
    color: var(--main-color)!important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-family: Kantumruy;
}
.blur-area {
    height: 100vh;
}
#main-menu {
    background: rgba(42, 42, 42, 0.5);
        background-color: rgba(42, 42, 42, 0.5);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}
#banner {
    height: 100%;
    display: grid;
    align-items: center;
}

.banner-content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.7em;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.banner-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 350px;
    margin-bottom: 50px;
}

.mainbtn {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 23px 31px;
    border: 2px solid var(--main-color);
    box-sizing: border-box;
    border-radius: 54px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* About us section area */
#about-us {
    padding: 100px 0;
}
.about_heading {
    text-align: center;
}
.about_heading p {
    max-width: 648px;
    margin: auto;
    margin-bottom: 50px;
}
.banner-img {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.banner_img_item img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
/* best selling area */
.heading {
    text-align: center;
}
.about_heading .bar-img {
    border-top: 4px solid var(--main-color);
    height: 100px;
    max-width: 300px;
    margin: auto;
}

#best-selling .bar-img {
    border-top: 4px solid var(--main-color);
    height: 100px;
    max-width: 610px;
    margin: auto;
}

.best_selling_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 20px;
}
.best_image_box img {
    border-radius: 15px;
}

/* TESTIMONIALS section area */
#testimonials {
    padding-top: 100px;
    padding-bottom: 40px;
}
#testimonials .bar-img {
    border-top: 4px solid var(--main-color);
    height: 100px;
    max-width: 376px;
    margin: auto;
}
.textSlider {
    text-align: center;
}
.textSlider h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.reviewBox ul li {
    display: inline-block;
    font-size: 20px;
    color: var(--main-color);
}
.reviewBox{
    margin-bottom: 20px; 
}
.textSlider p {
    max-width: 650px;
    margin: auto;
    margin-bottom: 20px;
}
#testimonials .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
#testimonials .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
#testimonials .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #656363;
    border-radius: 50%;
}
#testimonials .slick-dots li button::before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #656363;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
}
#testimonials .slick-dots li.slick-active button::before {
    opacity: 1;
    color: #fff;
}

/* OUR SERVICES section area */
#ourServices {
    padding: 100px 0;
}

#ourServices .bar-img {
    border-top: 4px solid var(--main-color);
    height: 100px;
    max-width: 293px;
    margin: auto;
}
.servicesBoxImag img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}
.servicesBoxForm {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    height: min-content;
}
.servicesBoxForm h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    color: #323232;
}
.filedBox input {
    width: 100%;
    box-sizing: border-box;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 137.69%;
    color: #000000;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #000;
    opacity: 0.4;
}
.submit {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 137.69%;
    color: #8C6291;
    opacity: 0.4;
    background-color: transparent;
    border: 1px solid #000;
    padding: 8px 20px;
    border-radius: 72px;
    margin-top: 30px;
    cursor: pointer;
}
.servicesBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.servicesBoxForm {
    width: 40%;
    position: relative;
    margin-left: -100px;
}
.servicesBoxImag {
    width: 60%;
}

.footer_area h3 {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 170.69%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.us ul li {
    margin-bottom: 10px;
}
.us li a {
    font-family: K2D;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #fff;
    text-decoration: none;
}
.us li a i {
    color:var(--main-color);
}

.copyRightArea p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    margin-top: 40px;
}
.head p {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170.69%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.social ul li {
    display: inline-block;
    margin-right: 10px;
}
.social ul li a {
    color: var(--main-color);
    font-size: 22px;
}
